.icon-famfam-flag {   
  background: url(flags.png) no-repeat top left; 
  display: inline-block;
  width: 16px;
  height: 11px;
}

.famfam-flag-ad{ background-position: 0 0; width: 16px; height: 11px; } 
.famfam-flag-ae{ background-position: 0 -12px; width: 16px; height: 11px; } 
.famfam-flag-af{ background-position: 0 -24px; width: 16px; height: 11px; } 
.famfam-flag-ag{ background-position: 0 -36px; width: 16px; height: 11px; } 
.famfam-flag-ai{ background-position: 0 -48px; width: 16px; height: 11px; } 
.famfam-flag-al{ background-position: 0 -60px; width: 16px; height: 11px; } 
.famfam-flag-am{ background-position: 0 -72px; width: 16px; height: 11px; } 
.famfam-flag-an{ background-position: 0 -84px; width: 16px; height: 11px; } 
.famfam-flag-ao{ background-position: 0 -96px; width: 16px; height: 11px; } 
.famfam-flag-ar{ background-position: 0 -108px; width: 16px; height: 11px; } 
.famfam-flag-as{ background-position: 0 -120px; width: 16px; height: 11px; } 
.famfam-flag-at{ background-position: 0 -132px; width: 16px; height: 11px; } 
.famfam-flag-au{ background-position: 0 -144px; width: 16px; height: 11px; } 
.famfam-flag-aw{ background-position: 0 -156px; width: 16px; height: 11px; } 
.famfam-flag-ax{ background-position: 0 -168px; width: 16px; height: 11px; } 
.famfam-flag-az{ background-position: 0 -180px; width: 16px; height: 11px; } 
.famfam-flag-ba{ background-position: 0 -192px; width: 16px; height: 11px; } 
.famfam-flag-bb{ background-position: 0 -204px; width: 16px; height: 11px; } 
.famfam-flag-bd{ background-position: 0 -216px; width: 16px; height: 11px; } 
.famfam-flag-be{ background-position: 0 -228px; width: 16px; height: 11px; } 
.famfam-flag-bf{ background-position: 0 -240px; width: 16px; height: 11px; } 
.famfam-flag-bg{ background-position: 0 -252px; width: 16px; height: 11px; } 
.famfam-flag-bh{ background-position: 0 -264px; width: 16px; height: 11px; } 
.famfam-flag-bi{ background-position: 0 -276px; width: 16px; height: 11px; } 
.famfam-flag-bj{ background-position: 0 -288px; width: 16px; height: 11px; } 
.famfam-flag-bm{ background-position: 0 -300px; width: 16px; height: 11px; } 
.famfam-flag-bn{ background-position: 0 -312px; width: 16px; height: 11px; } 
.famfam-flag-bo{ background-position: 0 -324px; width: 16px; height: 11px; } 
.famfam-flag-br{ background-position: 0 -336px; width: 16px; height: 11px; } 
.famfam-flag-bs{ background-position: 0 -348px; width: 16px; height: 11px; } 
.famfam-flag-bt{ background-position: 0 -360px; width: 16px; height: 11px; } 
.famfam-flag-bv{ background-position: 0 -372px; width: 16px; height: 11px; } 
.famfam-flag-bw{ background-position: 0 -384px; width: 16px; height: 11px; } 
.famfam-flag-by{ background-position: 0 -396px; width: 16px; height: 11px; } 
.famfam-flag-bz{ background-position: 0 -408px; width: 16px; height: 11px; } 
.famfam-flag-ca{ background-position: 0 -420px; width: 16px; height: 11px; } 
.famfam-flag-catalonia{ background-position: 0 -432px; width: 16px; height: 11px; } 
.famfam-flag-cc{ background-position: 0 -444px; width: 16px; height: 11px; } 
.famfam-flag-cd{ background-position: 0 -456px; width: 16px; height: 11px; } 
.famfam-flag-cf{ background-position: 0 -468px; width: 16px; height: 11px; } 
.famfam-flag-cg{ background-position: 0 -480px; width: 16px; height: 11px; } 
.famfam-flag-ch{ background-position: 0 -492px; width: 11px; height: 11px; } 
.famfam-flag-ci{ background-position: 0 -504px; width: 16px; height: 11px; } 
.famfam-flag-ck{ background-position: 0 -516px; width: 16px; height: 11px; } 
.famfam-flag-cl{ background-position: 0 -528px; width: 16px; height: 11px; } 
.famfam-flag-cm{ background-position: 0 -540px; width: 16px; height: 11px; } 
.famfam-flag-cn{ background-position: 0 -552px; width: 16px; height: 11px; } 
.famfam-flag-co{ background-position: 0 -564px; width: 16px; height: 11px; } 
.famfam-flag-cr{ background-position: 0 -576px; width: 16px; height: 11px; } 
.famfam-flag-cs{ background-position: 0 -588px; width: 16px; height: 11px; } 
.famfam-flag-cu{ background-position: 0 -600px; width: 16px; height: 11px; } 
.famfam-flag-cv{ background-position: 0 -612px; width: 16px; height: 11px; } 
.famfam-flag-cx{ background-position: 0 -624px; width: 16px; height: 11px; } 
.famfam-flag-cy{ background-position: 0 -636px; width: 16px; height: 11px; } 
.famfam-flag-cz{ background-position: 0 -648px; width: 16px; height: 11px; } 
.famfam-flag-de{ background-position: 0 -660px; width: 16px; height: 11px; } 
.famfam-flag-dj{ background-position: 0 -672px; width: 16px; height: 11px; } 
.famfam-flag-dk{ background-position: 0 -684px; width: 16px; height: 11px; } 
.famfam-flag-dm{ background-position: 0 -696px; width: 16px; height: 11px; } 
.famfam-flag-do{ background-position: 0 -708px; width: 16px; height: 11px; } 
.famfam-flag-dz{ background-position: 0 -720px; width: 16px; height: 11px; } 
.famfam-flag-ec{ background-position: 0 -732px; width: 16px; height: 11px; } 
.famfam-flag-ee{ background-position: 0 -744px; width: 16px; height: 11px; } 
.famfam-flag-eg{ background-position: 0 -756px; width: 16px; height: 11px; } 
.famfam-flag-eh{ background-position: 0 -768px; width: 16px; height: 11px; } 
.famfam-flag-england{ background-position: 0 -780px; width: 16px; height: 11px; } 
.famfam-flag-er{ background-position: 0 -792px; width: 16px; height: 11px; } 
.famfam-flag-es{ background-position: 0 -804px; width: 16px; height: 11px; } 
.famfam-flag-et{ background-position: 0 -816px; width: 16px; height: 11px; } 
.famfam-flag-europeanunion{ background-position: 0 -828px; width: 16px; height: 11px; } 
.famfam-flag-fam{ background-position: 0 -840px; width: 16px; height: 11px; } 
.famfam-flag-fi{ background-position: 0 -852px; width: 16px; height: 11px; } 
.famfam-flag-fj{ background-position: 0 -864px; width: 16px; height: 11px; } 
.famfam-flag-fk{ background-position: 0 -876px; width: 16px; height: 11px; } 
.famfam-flag-fm{ background-position: 0 -888px; width: 16px; height: 11px; } 
.famfam-flag-fo{ background-position: 0 -900px; width: 16px; height: 11px; } 
.famfam-flag-fr{ background-position: 0 -912px; width: 16px; height: 11px; } 
.famfam-flag-ga{ background-position: 0 -924px; width: 16px; height: 11px; } 
.famfam-flag-gb{ background-position: 0 -936px; width: 16px; height: 11px; } 
.famfam-flag-gd{ background-position: 0 -948px; width: 16px; height: 11px; } 
.famfam-flag-ge{ background-position: 0 -960px; width: 16px; height: 11px; } 
.famfam-flag-gf{ background-position: 0 -972px; width: 16px; height: 11px; } 
.famfam-flag-gh{ background-position: 0 -984px; width: 16px; height: 11px; } 
.famfam-flag-gi{ background-position: 0 -996px; width: 16px; height: 11px; } 
.famfam-flag-gl{ background-position: 0 -1008px; width: 16px; height: 11px; } 
.famfam-flag-gm{ background-position: 0 -1020px; width: 16px; height: 11px; } 
.famfam-flag-gn{ background-position: 0 -1032px; width: 16px; height: 11px; } 
.famfam-flag-gp{ background-position: 0 -1044px; width: 16px; height: 11px; } 
.famfam-flag-gq{ background-position: 0 -1056px; width: 16px; height: 11px; } 
.famfam-flag-gr{ background-position: 0 -1068px; width: 16px; height: 11px; } 
.famfam-flag-gs{ background-position: 0 -1080px; width: 16px; height: 11px; } 
.famfam-flag-gt{ background-position: 0 -1092px; width: 16px; height: 11px; } 
.famfam-flag-gu{ background-position: 0 -1104px; width: 16px; height: 11px; } 
.famfam-flag-gw{ background-position: 0 -1116px; width: 16px; height: 11px; } 
.famfam-flag-gy{ background-position: 0 -1128px; width: 16px; height: 11px; } 
.famfam-flag-hk{ background-position: 0 -1140px; width: 16px; height: 11px; } 
.famfam-flag-hm{ background-position: 0 -1152px; width: 16px; height: 11px; } 
.famfam-flag-hn{ background-position: 0 -1164px; width: 16px; height: 11px; } 
.famfam-flag-hr{ background-position: 0 -1176px; width: 16px; height: 11px; } 
.famfam-flag-ht{ background-position: 0 -1188px; width: 16px; height: 11px; } 
.famfam-flag-hu{ background-position: 0 -1200px; width: 16px; height: 11px; } 
.famfam-flag-id{ background-position: 0 -1212px; width: 16px; height: 11px; } 
.famfam-flag-ie{ background-position: 0 -1224px; width: 16px; height: 11px; } 
.famfam-flag-il{ background-position: 0 -1236px; width: 16px; height: 11px; } 
.famfam-flag-in{ background-position: 0 -1248px; width: 16px; height: 11px; } 
.famfam-flag-io{ background-position: 0 -1260px; width: 16px; height: 11px; } 
.famfam-flag-iq{ background-position: 0 -1272px; width: 16px; height: 11px; } 
.famfam-flag-ir{ background-position: 0 -1284px; width: 16px; height: 11px; } 
.famfam-flag-is{ background-position: 0 -1296px; width: 16px; height: 11px; } 
.famfam-flag-it{ background-position: 0 -1308px; width: 16px; height: 11px; } 
.famfam-flag-jm{ background-position: 0 -1320px; width: 16px; height: 11px; } 
.famfam-flag-jo{ background-position: 0 -1332px; width: 16px; height: 11px; } 
.famfam-flag-jp{ background-position: 0 -1344px; width: 16px; height: 11px; } 
.famfam-flag-ke{ background-position: 0 -1356px; width: 16px; height: 11px; } 
.famfam-flag-kg{ background-position: 0 -1368px; width: 16px; height: 11px; } 
.famfam-flag-kh{ background-position: 0 -1380px; width: 16px; height: 11px; } 
.famfam-flag-ki{ background-position: 0 -1392px; width: 16px; height: 11px; } 
.famfam-flag-km{ background-position: 0 -1404px; width: 16px; height: 11px; } 
.famfam-flag-kn{ background-position: 0 -1416px; width: 16px; height: 11px; } 
.famfam-flag-kp{ background-position: 0 -1428px; width: 16px; height: 11px; } 
.famfam-flag-kr{ background-position: 0 -1440px; width: 16px; height: 11px; } 
.famfam-flag-kw{ background-position: 0 -1452px; width: 16px; height: 11px; } 
.famfam-flag-ky{ background-position: 0 -1464px; width: 16px; height: 11px; } 
.famfam-flag-kz{ background-position: 0 -1476px; width: 16px; height: 11px; } 
.famfam-flag-la{ background-position: 0 -1488px; width: 16px; height: 11px; } 
.famfam-flag-lb{ background-position: 0 -1500px; width: 16px; height: 11px; } 
.famfam-flag-lc{ background-position: 0 -1512px; width: 16px; height: 11px; } 
.famfam-flag-li{ background-position: 0 -1524px; width: 16px; height: 11px; } 
.famfam-flag-lk{ background-position: 0 -1536px; width: 16px; height: 11px; } 
.famfam-flag-lr{ background-position: 0 -1548px; width: 16px; height: 11px; } 
.famfam-flag-ls{ background-position: 0 -1560px; width: 16px; height: 11px; } 
.famfam-flag-lt{ background-position: 0 -1572px; width: 16px; height: 11px; } 
.famfam-flag-lu{ background-position: 0 -1584px; width: 16px; height: 11px; } 
.famfam-flag-lv{ background-position: 0 -1596px; width: 16px; height: 11px; } 
.famfam-flag-ly{ background-position: 0 -1608px; width: 16px; height: 11px; } 
.famfam-flag-ma{ background-position: 0 -1620px; width: 16px; height: 11px; } 
.famfam-flag-mc{ background-position: 0 -1632px; width: 16px; height: 11px; } 
.famfam-flag-md{ background-position: 0 -1644px; width: 16px; height: 11px; } 
.famfam-flag-me{ background-position: 0 -1656px; width: 16px; height: 12px; } 
.famfam-flag-mg{ background-position: 0 -1669px; width: 16px; height: 11px; } 
.famfam-flag-mh{ background-position: 0 -1681px; width: 16px; height: 11px; } 
.famfam-flag-mk{ background-position: 0 -1693px; width: 16px; height: 11px; } 
.famfam-flag-ml{ background-position: 0 -1705px; width: 16px; height: 11px; } 
.famfam-flag-mm{ background-position: 0 -1717px; width: 16px; height: 11px; } 
.famfam-flag-mn{ background-position: 0 -1729px; width: 16px; height: 11px; } 
.famfam-flag-mo{ background-position: 0 -1741px; width: 16px; height: 11px; } 
.famfam-flag-mp{ background-position: 0 -1753px; width: 16px; height: 11px; } 
.famfam-flag-mq{ background-position: 0 -1765px; width: 16px; height: 11px; } 
.famfam-flag-mr{ background-position: 0 -1777px; width: 16px; height: 11px; } 
.famfam-flag-ms{ background-position: 0 -1789px; width: 16px; height: 11px; } 
.famfam-flag-mt{ background-position: 0 -1801px; width: 16px; height: 11px; } 
.famfam-flag-mu{ background-position: 0 -1813px; width: 16px; height: 11px; } 
.famfam-flag-mv{ background-position: 0 -1825px; width: 16px; height: 11px; } 
.famfam-flag-mw{ background-position: 0 -1837px; width: 16px; height: 11px; } 
.famfam-flag-mx{ background-position: 0 -1849px; width: 16px; height: 11px; } 
.famfam-flag-my{ background-position: 0 -1861px; width: 16px; height: 11px; } 
.famfam-flag-mz{ background-position: 0 -1873px; width: 16px; height: 11px; } 
.famfam-flag-na{ background-position: 0 -1885px; width: 16px; height: 11px; } 
.famfam-flag-nc{ background-position: 0 -1897px; width: 16px; height: 11px; } 
.famfam-flag-ne{ background-position: 0 -1909px; width: 16px; height: 11px; } 
.famfam-flag-nf{ background-position: 0 -1921px; width: 16px; height: 11px; } 
.famfam-flag-ng{ background-position: 0 -1933px; width: 16px; height: 11px; } 
.famfam-flag-ni{ background-position: 0 -1945px; width: 16px; height: 11px; } 
.famfam-flag-nl{ background-position: 0 -1957px; width: 16px; height: 11px; } 
.famfam-flag-no{ background-position: 0 -1969px; width: 16px; height: 11px; } 
.famfam-flag-np{ background-position: 0 -1981px; width: 9px; height: 11px; } 
.famfam-flag-nr{ background-position: 0 -1993px; width: 16px; height: 11px; } 
.famfam-flag-nu{ background-position: -17px 0; width: 16px; height: 11px; } 
.famfam-flag-nz{ background-position: -17px -12px; width: 16px; height: 11px; } 
.famfam-flag-om{ background-position: -17px -24px; width: 16px; height: 11px; } 
.famfam-flag-pa{ background-position: -17px -36px; width: 16px; height: 11px; } 
.famfam-flag-pe{ background-position: -17px -48px; width: 16px; height: 11px; } 
.famfam-flag-pf{ background-position: -17px -60px; width: 16px; height: 11px; } 
.famfam-flag-pg{ background-position: -17px -72px; width: 16px; height: 11px; } 
.famfam-flag-ph{ background-position: -17px -84px; width: 16px; height: 11px; } 
.famfam-flag-pk{ background-position: -17px -96px; width: 16px; height: 11px; } 
.famfam-flag-pl{ background-position: -17px -108px; width: 16px; height: 11px; } 
.famfam-flag-pm{ background-position: -17px -120px; width: 16px; height: 11px; } 
.famfam-flag-pn{ background-position: -17px -132px; width: 16px; height: 11px; } 
.famfam-flag-pr{ background-position: -17px -144px; width: 16px; height: 11px; } 
.famfam-flag-ps{ background-position: -17px -156px; width: 16px; height: 11px; } 
.famfam-flag-pt{ background-position: -17px -168px; width: 16px; height: 11px; } 
.famfam-flag-pw{ background-position: -17px -180px; width: 16px; height: 11px; } 
.famfam-flag-py{ background-position: -17px -192px; width: 16px; height: 11px; } 
.famfam-flag-qa{ background-position: -17px -204px; width: 16px; height: 11px; } 
.famfam-flag-re{ background-position: -17px -216px; width: 16px; height: 11px; } 
.famfam-flag-ro{ background-position: -17px -228px; width: 16px; height: 11px; } 
.famfam-flag-rs{ background-position: -17px -240px; width: 16px; height: 11px; } 
.famfam-flag-ru{ background-position: -17px -252px; width: 16px; height: 11px; } 
.famfam-flag-rw{ background-position: -17px -264px; width: 16px; height: 11px; } 
.famfam-flag-sa{ background-position: -17px -276px; width: 16px; height: 11px; } 
.famfam-flag-sb{ background-position: -17px -288px; width: 16px; height: 11px; } 
.famfam-flag-sc{ background-position: -17px -300px; width: 16px; height: 11px; } 
.famfam-flag-scotland{ background-position: -17px -312px; width: 16px; height: 11px; } 
.famfam-flag-sd{ background-position: -17px -324px; width: 16px; height: 11px; } 
.famfam-flag-se{ background-position: -17px -336px; width: 16px; height: 11px; } 
.famfam-flag-sg{ background-position: -17px -348px; width: 16px; height: 11px; } 
.famfam-flag-sh{ background-position: -17px -360px; width: 16px; height: 11px; } 
.famfam-flag-si{ background-position: -17px -372px; width: 16px; height: 11px; } 
.famfam-flag-sj{ background-position: -17px -384px; width: 16px; height: 11px; } 
.famfam-flag-sk{ background-position: -17px -396px; width: 16px; height: 11px; } 
.famfam-flag-sl{ background-position: -17px -408px; width: 16px; height: 11px; } 
.famfam-flag-sm{ background-position: -17px -420px; width: 16px; height: 11px; } 
.famfam-flag-sn{ background-position: -17px -432px; width: 16px; height: 11px; } 
.famfam-flag-so{ background-position: -17px -444px; width: 16px; height: 11px; } 
.famfam-flag-sr{ background-position: -17px -456px; width: 16px; height: 11px; } 
.famfam-flag-st{ background-position: -17px -468px; width: 16px; height: 11px; } 
.famfam-flag-sv{ background-position: -17px -480px; width: 16px; height: 11px; } 
.famfam-flag-sy{ background-position: -17px -492px; width: 16px; height: 11px; } 
.famfam-flag-sz{ background-position: -17px -504px; width: 16px; height: 11px; } 
.famfam-flag-tc{ background-position: -17px -516px; width: 16px; height: 11px; } 
.famfam-flag-td{ background-position: -17px -528px; width: 16px; height: 11px; } 
.famfam-flag-tf{ background-position: -17px -540px; width: 16px; height: 11px; } 
.famfam-flag-tg{ background-position: -17px -552px; width: 16px; height: 11px; } 
.famfam-flag-th{ background-position: -17px -564px; width: 16px; height: 11px; } 
.famfam-flag-tj{ background-position: -17px -576px; width: 16px; height: 11px; } 
.famfam-flag-tk{ background-position: -17px -588px; width: 16px; height: 11px; } 
.famfam-flag-tl{ background-position: -17px -600px; width: 16px; height: 11px; } 
.famfam-flag-tm{ background-position: -17px -612px; width: 16px; height: 11px; } 
.famfam-flag-tn{ background-position: -17px -624px; width: 16px; height: 11px; } 
.famfam-flag-to{ background-position: -17px -636px; width: 16px; height: 11px; } 
.famfam-flag-tr{ background-position: -17px -648px; width: 16px; height: 11px; } 
.famfam-flag-tt{ background-position: -17px -660px; width: 16px; height: 11px; } 
.famfam-flag-tv{ background-position: -17px -672px; width: 16px; height: 11px; } 
.famfam-flag-tw{ background-position: -17px -684px; width: 16px; height: 11px; } 
.famfam-flag-tz{ background-position: -17px -696px; width: 16px; height: 11px; } 
.famfam-flag-ua{ background-position: -17px -708px; width: 16px; height: 11px; } 
.famfam-flag-ug{ background-position: -17px -720px; width: 16px; height: 11px; } 
.famfam-flag-um{ background-position: -17px -732px; width: 16px; height: 11px; } 
.famfam-flag-us{ background-position: -17px -744px; width: 16px; height: 11px; } 
.famfam-flag-uy{ background-position: -17px -756px; width: 16px; height: 11px; } 
.famfam-flag-uz{ background-position: -17px -768px; width: 16px; height: 11px; } 
.famfam-flag-va{ background-position: -17px -780px; width: 16px; height: 11px; } 
.famfam-flag-vc{ background-position: -17px -792px; width: 16px; height: 11px; } 
.famfam-flag-ve{ background-position: -17px -804px; width: 16px; height: 11px; } 
.famfam-flag-vg{ background-position: -17px -816px; width: 16px; height: 11px; } 
.famfam-flag-vi{ background-position: -17px -828px; width: 16px; height: 11px; } 
.famfam-flag-vn{ background-position: -17px -840px; width: 16px; height: 11px; } 
.famfam-flag-vu{ background-position: -17px -852px; width: 16px; height: 11px; } 
.famfam-flag-wales{ background-position: -17px -864px; width: 16px; height: 11px; } 
.famfam-flag-wf{ background-position: -17px -876px; width: 16px; height: 11px; } 
.famfam-flag-ws{ background-position: -17px -888px; width: 16px; height: 11px; } 
.famfam-flag-ye{ background-position: -17px -900px; width: 16px; height: 11px; } 
.famfam-flag-yt{ background-position: -17px -912px; width: 16px; height: 11px; } 
.famfam-flag-za{ background-position: -17px -924px; width: 16px; height: 11px; } 
.famfam-flag-zm{ background-position: -17px -936px; width: 16px; height: 11px; } 
.famfam-flag-zw{ background-position: -17px -948px; width: 16px; height: 11px; } 
