.line-legend,
.bar-legend,
.radar-legend,
.polararea-legend,
.pie-legend,
.doughnut-legend {
  list-style: outside none none;
}

.line-legend li,
.bar-legend li,
.radar-legend li,
.polararea-legend li,
.pie-legend li,
.doughnut-legend li {
  border-radius: 5px;
  cursor: default;
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  padding: 2px 8px 2px 28px;
  position: relative;
  transition: background-color 200ms ease-in-out 0s;
}

.line-legend li:hover,
.bar-legend li:hover,
.radar-legend li:hover,
.polararea-legend li:hover,
.pie-legend li:hover,
.doughnut-legend li:hover {
  background-color: #fafafa;
}

.line-legend-icon,
.bar-legend-icon,
.radar-legend-icon,
.polararea-legend-icon,
.pie-legend-icon,
.doughnut-legend-icon {
  border-radius: 5px;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
