.jscolor-padm {
  background-image: url("cross.gif");
  background-repeat: no-repeat;
}

.jscolor-sldm {
  background-image: url("arrow.gif");
  background-repeat: no-repeat;
}

.jscolor-pad {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.jscolor-pad-hs {
  background-image: url("hs.png");
}

.jscolor-pad-hv {
  background-image: url("hv.png");
}
